#header {
	display: none;
}

.info > .nick > img {
	float: left;
	display: inline-block;
	margin-right: .5em !important;
}

.response > a:first-child > img {
	float: left;
	display: inline-block;
	margin-right: .5em !important;
}
